<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDMPIW7TB5mp-1waDXYi1GtIb0A2M6XDU</string>
	<key>GCM_SENDER_ID</key>
	<string>593936764053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recyclingApp</string>
	<key>PROJECT_ID</key>
	<string>orlando-recycles</string>
	<key>STORAGE_BUCKET</key>
	<string>orlando-recycles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593936764053:ios:d93ae9796ce55a492b1f9c</string>
</dict>
</plist>